html{
  height: 100%;
}

body {
  background-color: #faf9ed;
  touch-action: manipulation;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px; /* Increase the top padding value to create more space below the header */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {display: flex;}

.logo {
  width: 120px;
  height: 65px;
  transition: .3s;
}

.logo:hover{
  scale: 1.013;
}

.moon {
    content: url('https://cdn.glitch.global/78e00b3e-a411-4dbc-96f5-907b2b5a2f20/moon.png?v=1698436506165');
}

.sun {
    content: url('https://cdn.glitch.global/78e00b3e-a411-4dbc-96f5-907b2b5a2f20/sun.png?v=16984923943805');
}

.header{
  position: fixed;
  top: 0;
  left: 20;
  width: 100%;
  height: 90px;
  border-bottom: 1.2px solid gray;
  padding: 20px 100px;
  background: rgba(246,239,235,0.97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


/* --------------NAVIGATION BAR-------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work_with_us {
    display: flex;
    align-items: center;
}

.work_btn {
    margin-right: 10px; /* Adjust margin for space between the button and the moon icon */
}

.navbar a {
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  margin-left: 20px;
  justify-content: space-between;
  transition: 0.2s;
}

.navbar .programs{color: #FF8DFF; transition: 0.2s;}
.navbar .about{color: #493838; transition: 0.2s;}
.navbar .published{color: #493838; transition: 0.2s;}


.navbar .about:hover {color: #5271FF; transform: translateY(-2px);}
  
.navbar .published:hover {color: #2ACB9A; transform: translateY(-2px);}
  

.visible_mode{scale: 0.8; text-shadow: 0px 0px 100px black;
}

.visible_dark{
  transition: 0.2s;
}

.visible_dark:hover{
  transform: translateY(-2px); scale: 1.014;}


.visible_mode:hover{transform: translateY(-2px);}

.navbar about.open{color: #faf9ed;}
body.open{background-color: #0A0D12;}
.header.open{background-color: rgba(30, 36, 48, 1);}


.navbar .work_btn {
  background-color: #ffde59;
  color: #493838;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  border: 1.2px solid gray;
}

.navbar .work_btn:hover {
  color: #493838;
  background-color: #faf9ed;
}

.navbar .dropdown_btn {
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* --------------DROP DOWN-------------- */


.dropdown_menu{
  display: none;
  position: absolute;
  justify-content: center;
  right: 2rem;
  top: 84px;
  width: 207px;
  z-index: 120;
  background: rgba(246,239,235,0.9);
  backdrop-filter: blur(.9px);
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}

.dropdown_menu li{
  padding: .55rem;
  display: flex;
  justify-content: right;
}

.dropdown_menu a{
  font-size: 23px;
  text-shadow: 0px 0px 50px white;
  color: #493838;
  font-weight: 900;
  text-decoration: none;
}


.dropdown_menu .work_btn{
  background-color: #ffde59;
  width: 100%;
  justify-content: center;
  color: #493838;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  transition: 0.4s;
  border: 1.2px solid gray;
}

.dropdown_menu .work_btn:hover{
  background-color: #faf9ed;
}

.dropdown_menu.open{
  height: 190px;
  border: 1.2px solid gray;
}

.interested_btn{
  padding-top: 25px;
}


.interested {
  background-color: #1E1717;
  color: #FAF9ED;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.interested:hover {
  color: #2ACB9A;
  background-color: white;
}

/* ----------------CONTENT------------------- */


.intro{
  font-size: 18px;
  font-weight: 700;
  padding-top: 15px;
}

.question{
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}

.intro2{
  font-size: 16px;
}

/* Add this CSS to your existing stylesheet */
.page-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px; /* Adjust padding as needed */

  /* Ensures responsiveness on smaller screens */
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.TELLER-section {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.left-section {
  position: relative;
  flex: 0 0 40%;
  margin-right: 20px;
}

.big-photo {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  border-top-left-radius: 15px; /* Make the top left corner rounded */
  overflow: hidden;
}

.right-section {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
}

.programBox {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  margin: 0 auto; /* Centers the box horizontally */
  max-width: 1200px; /* Set the maximum width of the box */
  padding: 20px; /* Adjust padding as needed */
  border: 2px solid #493838; /* Border properties */
  border-radius: 15px; /* This will create a rounded border */
  background-color: #faf9ed; /* Background color for the box */
}


p {
  font-size: 18px;
  line-height: 1.6;
  color: #493838; /* Your chosen color */
}




/*--------------------- FOOTER --------------------------*/

.logofoot {
  display: flex;
  justify-content: center;
}


.footer{
  background-color: #0D1119;
  padding: 20px;
  width: 100%;
  margin-top: auto;
    text-align: center;

  z-index: 120;
  list-style-type: disc;
}


.footer .social{
  text-decoration: none;
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.footer .social .instagram{opacity: .8; padding: 12px; transition: 0.3s;}
.footer .social .facebook{opacity: .8; padding: 12px; transition: 0.3s;}
.footer .social .linkedin{opacity: .8; padding: 12px; transition: 0.3s;}
.footer .social .tiktok{opacity: .8; padding: 12px; transition: 0.3s;}
.footer .social .linktree{opacity: .8; padding: 12px; transition: 0.3s;}



.footer .social .instagram:hover{opacity: 1; 	transform: translateY(-5px);}
.footer .social .facebook:hover{opacity: 1; transform: translateY(-5px);}
.footer .social .linkedin:hover{opacity: 1; transform: translateY(-5px);}
.footer .social .tiktok:hover{opacity: 1; transform: translateY(-5px);}
.footer .social .linktree:hover{opacity: 1; transform: translateY(-5px);}


.footer .copyright{
  font-size: 10px;
  color: white;
  font-weight: 10;
  opacity: .5;
  text-align: center;
}




















/* ------mobile---- */
@media screen and (max-width: 850px) {
  .header {padding: 10px 20px; background: rgba(246,239,235,0.97);  height: 75px;}

  .navbar a {display: none;}

  .navbar .dropdown_btn {display: block;}
  .navbar .visible_dark {display: block; font-size: 35px;}

   .dropdown_menu{ display: block;}

  .TELLER-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .big-photo {
    width: 100%; /* Ensure the image takes full width */
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .visible_dark {margin-right: 10px;}


  .right-section {
  text-align: left; /* Align text to the left */
  }


  .intro {
    padding-top: 0px; /* Remove top padding */
  }

  body {
    width: 100%;
    min-height: 100vh;
    color: white;
    padding-top: 100px; /* Increase the top padding value to create more space below the header */
  }
}
